<div class="row">
  <div class="span6">
    <h1>Bills</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span11">
        <form method="get" action="/bills/search/" class="form-stacked">
          <fieldset>
            <div class="input">
  <label>Keyword</label>
  <input type="text" name="keyword" />
  <label>Chamber</label>
  <input type="radio" name="chamber" value="" checked/>Any
  <input type="radio" name="chamber" value="upper"/>Upper
  <input type="radio" name="chamber" value="lower"/>Lower
  <label>Subject</label>
  <ul class="unstyled">
    <div class="row">
      <div class="span4">
    <li>
      <label>
        <input type="checkbox" name="subject" value="Agriculture and Food"/><span>Agriculture and Food</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Animal Rights and Wildlife Issues"/><span>Animal Rights and Wildlife Issues</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Arts and Humanites"/><span>Arts and Humanities</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Budget, Spending, and Taxes"/><span>Budget, Spending, and Taxes<span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Business and Consumers"/><span>Business and Consumers</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Campaign Finance and Election Issues"/><span>Campaign Finance and Election Issues</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Civil Liberties and Civil Rights"/><span>Civil Liberties and Civil Rights</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Commerce"/><span>Commerce</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Crime"/><span>Crime</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Drugs"/><span>Drugs</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Education"/><span>Education</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Energy"/><span>Energy</span>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" name="subject" value="Environmental"/><span>Environmental</span>
      </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Executive Branch"/><span>Executive Branch</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Family and Children Issues"/><span>Family and Children Issues</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Federal, State, and Local Relations"/><span>Federal, State, and Local Relations</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Gambling and Gaming"/><span>Gambling and Gaming</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Government Reform"/><span>Government Reform</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Guns"/><span>Guns</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Health"/><span>Health</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Housing and Property"/><span>Housing and Property</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Immigration"/><span>Immigration</span>
    </label>
    </li>
  </div>
  <div class="span4">
    <li>
    <label>
      <input type="checkbox" name="subject" value="Indigenous Peoples"/><span>Indigenous Peoples</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Insurance"/><span>Insurance</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Judiciary"/><span>Judiciary</span>
    </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Labor and Employment"/><span>Labor and Employment</span>
     </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Legal Issues"/><span>Legal Issues</span>
     </label>
    </li>
     <li>
    <label>
      <input type="checkbox" name="subject" value="Legislative Affairs"/><span>Legislative Affairs</span>
      </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Military"/><span>Military</span>
       </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="Municipal and County Issues"/><span>Municipal and County Issues</span>
        </label>
    </li>
 <li>
    <label>
      <input type="checkbox" name="subject" value="Nominations"/><span>Nominations</span>
         </label>
    </li>
 <li>
    <label>
      <input type="checkbox" name="subject" value="Other"/><span>Other</span>
     </label>
    </li>
     <li>
    <label>
      <input type="checkbox" name="subject" value="Public Services"/><span>Public Services</span>
      </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Recreation"/><span>Recreation</span>
       </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="Reproductive Issues"/><span>Reproductive Issues</span>
        </label>
    </li>
  <li>
    <label>
      <input type="checkbox" name="subject" value="Resolutions"/><span>Resolutions</span>
     </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Science and Medical Research"/><span>Science and Medical Research</span>
      </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Senior Issues"/><span>Senior Issues</span>
      </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="Sexual Orientation and Gender Issues"/><span>Sexual Orientation and Gender Issues</span>
      </label>
    </li>
    <li>
    <label>
      <input type="checkbox" name="subject" value="Social Issues"/><span>Social Issues</span>
      </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="State Agencies"/><span>State Agencies</span>
       </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="Technology and Communication"/><span>Technology and Communication</span>
        </label>
    </li>
 <li>
    <label>
      <input type="checkbox" name="subject" value="Trade"/><span>Trade</span>
         </label>
    </li>
 <li>
    <label>
      <input type="checkbox" name="subject" value="Transportation"/><span>Transportation</span>
      </label>
    </li>
   <li>
    <label>
      <input type="checkbox" name="subject" value="Welfare and Poverty"/><span>Welfare and Poverty</span>
    </label>
    </li>
  </div>
</div>

</ul>
</div>
        <input type="submit" value="submit"/>
  </fieldset>
</form>
</div>
</div>

