<div class="row">
	<div class="span6">
		<h2>Committee Search</h2>
	</div>
</div>

<div class="row">
	<div class="span8">
		<form method="get" action="/committee/search/">
			<label>Committee</label>
			<input type="text" name="committee" />
			<label>Subcommittee</label>
			<input type="text" name="subcommittee" />
			<label>Chamber</label>
			<input type="radio" name="chamber" value="upper" />Upper</br>
			<input type="radio" name="chamber" value="lower" />Lower</br>
			<input type="radio" name="chamber" value="joint" />Joint</br>
			<input type="submit" value="Search" />
		</form>
	</div>
</div>