<div class="row">
	<div class="span6">
		<h1>Committees</h1>
	</div>
</div>

<div class="row">
	<div class="span8">
    <h4>House Committees</h4>
		<ul>
			<li><a href="/committee/KYC000016">Committee On Committees</a></li>
		
			<li><a href="/committee/KYC000017">Rules</a></li>
		
			<li><a href="/committee/KYC000018">Enrollment</a></li>
		
			<li><a href="/committee/KYC000019">Agriculture and Small Business</a></li>
		
			<li><a href="/committee/KYC000020">Appropriations and Revenue</a></li>
		
			<li><a href="/committee/KYC000021">Banking and Insurance</a></li>
		
			<li><a href="/committee/KYC000022">Economic Development</a></li>
		
			<li><a href="/committee/KYC000024">Elections, Const. Amendments & Intergovernmental Affairs</a></li>
		
			<li><a href="/committee/KYC000025">Health and Welfare</a></li>
		
			<li><a href="/committee/KYC000029">Local Government</a></li>
		
			<li><a href="/committee/KYC000030">Natural Resources and Environment</a></li>
		
			<li><a href="/committee/KYC000031">State Government</a></li>
		
			<li><a href="/committee/KYC000032">Tourism Development and Energy</a></li>
		
			<li><a href="/committee/KYC000033">Transportation</a></li>
		
			<li><a href="/committee/KYC000026">Judiciary</a></li>
		
			<li><a href="/committee/KYC000027">Labor and Industry</a></li>
		
			<li><a href="/committee/KYC000028">Licensing and Occupations</a></li>
		
			<li><a href="/committee/KYC000023">Education</a></li>
		
			<li><a href="/committee/KYC000034">Veterans, Military Affairs and Public Safety</a></li>
		</ul>
	</div>
	<div class="span8">
    <h4>Senate Committees</h4>
		<ul>
			<li><a href="/committee/KYC000001">Committee on Committees</a></li>
		
			<li><a href="/committee/KYC000002">Rules</a></li>
		
			<li><a href="/committee/KYC000003">Enrollment</a></li>
		
			<li><a href="/committee/KYC000004">Agriculture</a></li>
		
			<li><a href="/committee/KYC000005">Appropriations and Revenue</a></li>
		
			<li><a href="/committee/KYC000006">Banking and Insurance</a></li>
		
			<li><a href="/committee/KYC000007">Economic Development, Tourism & Labor</a></li>
		
			<li><a href="/committee/KYC000008">Education</a></li>
		
			<li><a href="/committee/KYC000009">Health and Welfare</a></li>
		
			<li><a href="/committee/KYC000010">Judiciary</a></li>
		
			<li><a href="/committee/KYC000011">Licensing, Occupations & Administrative Regulations</a></li>
		
			<li><a href="/committee/KYC000012">Natural Resources and Energy</a></li>
		
			<li><a href="/committee/KYC000013">State & Local Government</a></li>
		
			<li><a href="/committee/KYC000014">Transportation</a></li>
		
			<li><a href="/committee/KYC000015">Veterans, Military Affairs, & Public Protection</a></li>
		</lh>
	</div>
</div>
