<h2><%= @committee["committee"] %></h2>
<a href="<%= @committee["sources"][0]["url"] %>">Source</a>

<ul>
	<lh>Members</lh>
	<% @committee["members"].each do |mem| %>
    <li><a href="/legislators/<%= mem["leg_id"]%>"><%= mem["name"] %></a></li>
	<% end %>
</ul>
