<div class="hero-unit">
  <h1>Some Header</h1>
  <p>An explanation of the site with a call to action or something to search for your District's Legislator
  using an address or zipcode. I think there should be a simple form instead of just a button with a field
  for zipcode</p>
  <p><a class="btn primary large">Search &raquo;</a></p>
</div>
<div class="row">
  <div class="span6">
    <h2>Legislators</h2>
    <p>Search for your legislator and see what bills they are taking part in.</p>
    <a class="btn" href="/legislator_search">Search Legislators</a>
  </div>
  <div class="span5">
    <h2>Bills</h2>
    <p>Search for bills relating to your interests and see the legislators sponsoring them.</p>
    <a class="btn" href="/bill_search">Search Bills</a>
  </div>
  <div class="span5">
    <h2>Committees</h2>
    <p>See the House and Senate committees and what legislators are on them.</p>
    <a class="btn" href="/committees">Search</a>
  </div>
</div>
