<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Here at OpenKY you can discover what is going on with your government. You can search through bills
  legislators, and committees. See what bills are important to you and which legislators are sponsoring
  them or keep up on what your district's legislators are doing. You can start by finding your
  legislators by searching with your zipcode below:</p>
  <form action="/legislator_geo" method="get">
    <input type="text" value="Zipcode" onclick="this.select();" name="zipcode"/>
    <input class="btn primary"type="submit" value="Find Legislators"/>
  </form>
</div>
<div class="row">
  <div class="span4">
    <h2>Legislators</h2>
    <p>Search for your legislator and see what bills they are taking part in.</p>
    <a class="btn" href="/legislator_search">Search Legislators</a>
  </div>
  <div class="span4">
    <h2>Bills</h2>
    <p>Search for bills relating to your interests and see the legislators sponsoring them.</p>
    <a class="btn" href="/bill_search">Search Bills</a>
  </div>
  <div class="span4">
    <h2>Committees</h2>
    <p>See the House and Senate committees and what legislators are on them.</p>
    <a class="btn" href="/committees">Search</a>
  </div>
</div>
