<html>
  <head>
    <title>OpenKY</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span6">
          <a href="/"><h1>OpenKY</h1></a>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="nav">
            <li><a href="/bill_search">Bills</a></li>
            <li><a href="/legislator_search">Legislators</a></li>
            <li><a href="/committees">Committees</a></li>
          </ul>
        </div>
      </div>
    <%= yield %>
    <div class="row">
      <div class="span16">
        <footer>Made by <a href="www.blakeshall.com">Blake Hall</a> and Drew Fitzpatrick</footer>
      </div>
    </div>
    </div>
  </body>
</html>
