<form method="get" action="/legislator/search/">
<div class="row">
  <div class="span6">
    <h1>Legislators</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span11">
  		<label>First Name</label>
  		<input type="text" name="first_name" />
		<label>Last Name</label>
		<input type="text" name="last_name" />
      </div>
    </div>
    <div class="row">
      <div class="span11">
  		<label>Chamber</label>
  		<input type="radio" name="chamber" value="" checked />Any
  		<input type="radio" name="chamber" value="upper"/>Upper
  		<input type="radio" name="chamber" value="lower"/>Lower
      </div>
    </div>
    <div class="row">
      <div class="span11">
  		<label>Active legislator?</label>
  		<p>True <input type="radio" name="active" value="true" checked></p>
		  <p>False <input type="radio" name="active" value="false"></p>
      </div>
    </div>
	<div class="row">
		<div class="span11">
			<label>Term</label>
			<input type="text" name="term" />
		</div>
	</div>
	<div class="row">
		<div class="span11">
			<label>District</label>
			<input type="text" name="district">
		</div>
	</div>
	<div class="row">
		<div class="span11">
			<label>Party</label>
			<p>Democratic
			<input type="checkbox" name="party" value="democratic" />
			</p>
			<p>Republican
			<input type="checkbox" name="party" value="republican" />
			</p>
		</div>
	</div>
    <div class="row">
      <div class="span11">
        <input type="submit" value="submit"/>
      </div>
    </div>
  </div>
</div>
</form>
