<div class="row">
  <div class="span8">
    <h1>Legislators</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
<form method="get" action="/legislator/search/" class="form-stacked">
  <fieldset>
    <legend>Detailed Search</legend>
  		<label>First Name</label>
  		<input type="text" name="first_name" />
		<label>Last Name</label>
		<input type="text" name="last_name" />
  		<label>Chamber</label>
  		<input type="radio" name="chamber" value="" checked />Any
  		<input type="radio" name="chamber" value="upper"/>Upper
  		<input type="radio" name="chamber" value="lower"/>Lower
  		<label>Active legislator?</label>
  		<p>True <input type="radio" name="active" value="true" checked></p>
		  <p>False <input type="radio" name="active" value="false"></p>
			<label>Term</label>
			<input type="text" name="term" />
			<label>District</label>
			<input type="text" name="district">
			<label>Party</label>
			<p>Democratic
			<input type="checkbox" name="party" value="democratic" />
			</p>
			<p>Republican
			<input type="checkbox" name="party" value="republican" />
			</p>
        <input type="submit" value="Search" class="btn primary"/>
      </fieldset>
      </form>
    </div>
    <div class="span6">
    <form action="/legislator_geo" method="get" class="form-stacked">
      <fieldset>
        <legend>Search by Zipcode</legend>
        <div class="clearfix">
          <label for="zipcode">Zipcode</label>
          <div class="input">
            <input class="xlarge" id="zipcode" name="zipcode" size="10" type="text" />
          </div>
        </div><!-- /clearfix -->
        <input class="btn primary" type="submit" value="Search"/>
      </fieldset>
    </form>
  </div>
</div>
